<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
    <title>{% block title %}Raytelligent Cloud{% endblock %}</title>

    {% block stylesheets %}
    {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        'assets/vendor/gentelella/vendors/animate.css/animate.min.css'
        'assets/vendor/gentelella/build/css/custom.min.css'
        'assets/public/css/rt.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
{% block bodyClass %}<body>{% endblock %}
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                'assets/vendor/jquery/dist/jquery.min.js'
                'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                'assets/vendor/fastclick/lib/fastclick.js'
                'assets/vendor/gentelella/build/js/custom.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
