{% extends '::layout.html.twig' %}

{% block bodyClass %}<body class="login">{% endblock %}
{% block body %}
<div style="text-align: center; padding-top: 50px">

    <div class="headline">
        <img src="{{ asset('assets/public/img/logo.png') }}" class="displayed" alt="Raytelligence Logo" width="250px" height="250px">
        <h1>Thank you for registering!</h1>
    </div>
    <form action="/login">
        <button type="submit" class="btn btn-success"/>Sign in</button>
    </form>
</div>
{% endblock %}
