{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="headline"><h1>{{ 'registration.thank_you.header'|trans }}</h1></div>
            <p>{{ 'registration.thank_you.text'|trans }}</p>
        </div>
    </div>

{% endblock %}
