{% extends '::layout.html.twig' %}

{% block bodyClass %}<body class="login">{% endblock %}
{% block body %}
<div class="center-wrapper">

    <div class="headline">
        <img src="{{ asset('assets/public/img/logo.png') }}" id="logo-250" class="displayed" alt="Raytelligence Logo">
        <h1>Thank you for registering!</h1>
    </div>
    <a class="btn btn-success" href="{{ path('account_login') }}">Sign in</a>
</div>
{% endblock %}
